---
- name: Install libpq (PostgreSQL client) on macOS
  ansible.builtin.package:
    name: libpq
    state: present
  register: result
  failed_when: '"already installed" not in result.msg and "Package installed" not in result.msg and result.msg != ""'
  when: ansible_facts.os_family == "Darwin"

- name: Link libpq to make psql available in PATH
  ansible.builtin.command:
    cmd: brew link --force libpq
  register: link_result
  changed_when: '"Linking" in link_result.stdout'
  failed_when: link_result.rc != 0 and "already linked" not in link_result.stderr
  when: ansible_facts.os_family == "Darwin"
