---

- name: Install Signal
  ansible.builtin.package:
    name: signal-desktop
    state: present
  become: true
  when: ansible_facts.os_family != "Debian" and ansible_facts.os_family != "Darwin"

- name: Install Signal on MacOS
  ansible.builtin.package:
    name: signal
    state: present
  register: result
  failed_when: '"already installed" not in result.msg and result.msg != ""'
  when: ansible_facts.os_family == "Darwin"

- name: Install Signal on Debian
  community.general.snap:
    name: signal-desktop
    state: present
  become: true
  when: ansible_facts.os_family == 'Debian'
