---

- name: Install oc
  ansible.builtin.package:
    name: openshift-cli
    state: present
  become: "{{ false if ansible_facts.os_family == 'Darwin' else true }}"

- block:
  - name: Tap robscott/tap
    community.general.homebrew_tap:
      name: robscott/tap
  - name: Install robscott/tap/kube-capacity
    ansible.builtin.package:
      name: robscott/tap/kube-capacity
      state: present
  when: ansible_facts.os_family == 'Darwin'

