---

- name: Add git repo
  ansible.builtin.apt_repository:
    repo: ppa:git-core/ppa
    state: present
  become: true
  when: ansible_facts.os_family == "Debian"

- name: Install git (privileged)
  ansible.builtin.package:
    name: git
    state: present
  become: true
  when: ansible_facts.os_family != "Darwin"

- name: Install git
  ansible.builtin.package:
    name: git
    state: present
  when: ansible_facts.os_family == "Darwin"

- name: Soft link ssh config
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/sshconfig"
    dest: "{{ ansible_facts.env.HOME }}/.ssh/config"
    force: true
    state: link

- name: Soft link .gitconfig
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/.gitconfig"
    dest: "{{ ansible_facts.env.HOME }}/.gitconfig"
    force: true
    state: link

- name: Soft link .gitconfig
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/.gitconfig"
    dest: "{{ ansible_facts.env.HOME }}/.gitconfig"
    force: true
    state: link

- name: Create ~/github
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/github"
    state: directory
    mode: '0755'

- name: Soft link .gitconfig github
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/.gitconfig.github"
    dest: "{{ ansible_facts.env.HOME }}/github/.gitconfig"
    force: true
    state: link

- name: Create ~/gitlab
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/gitlab"
    state: directory
    mode: '0755'

- name: Soft link .gitconfig gitlab
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/.gitconfig.gitlab"
    dest: "{{ ansible_facts.env.HOME }}/gitlab/.gitconfig"
    force: true
    state: link

