---

- name: Install Slack on Archlinux
  ansible.builtin.include_role:
    name: aur_install
  vars:
    aur_install_pkg: slack-desktop
  when: ansible_facts.os_family == 'Archlinux'

- name: Install Slack on Debian
  community.general.snap:
    name: slack
    state: present
    classic: true
  become: true
  when: ansible_facts.os_family == 'Debian'

- name: Install Slack
  ansible.builtin.package:
    name: "slack"
    state: present
  register: result
  failed_when: '"already installed" not in result.msg and "Package installed" not in result.msg and result.msg != ""'
  when: ansible_facts.os_family == 'Darwin'
