---

- name: Install Go
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items:
    - go@1.24
  when: ansible_facts.os_family == "Darwin"

- name: Go on Debian
  block:
    - name: "Check if /tmp/{{ go_amd64 }} exists"
      ansible.builtin.stat:
        path: "/tmp/{{ go_amd64 }}"
      register: res

    - name: Download Go on Debian
      ansible.builtin.shell:
        cmd: >
          wget -O /tmp/{{ go_amd64 }} https://golang.org/dl/{{ go_amd64 }}
      when: not res.stat.exists

    - name: Install Go on Debian
      ansible.builtin.shell:
        cmd: >
          sudo rm -rf /usr/local/go &&
          sudo tar -C /usr/local -xzf /tmp/{{ go_amd64 }}
      become: true
  when: ansible_facts.os_family == "Debian"
