---

# Notes:
# Toggle fullscreen => Ctrl+Alt+k
# Tile window left, right => Ctrl+Alt+(hl)
# Move window to upper workspace (vim-like) => Shift+Ctrl+Alt+(hjkl)

- name: XFCE desktop environment
  block:
    - name: Install xcape
      ansible.builtin.package:
        name: xcape
        state: present
      become: true

    - name: Soft link xfce4-keyboard-shortcuts.xml
      ansible.builtin.file:
        src: "{{ playbook_dir }}/files/xfce4-keyboard-shortcuts.xml"
        dest: "{{ ansible_env.HOME }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml"
        force: true
        state: link

    - name: Soft link .xprofile
      ansible.builtin.file:
        src: "{{ playbook_dir }}/files/.xprofile"
        dest: "{{ ansible_env.HOME }}/.xprofile"
        force: true
        state: link
      notify: reload xprofile conf
  when: desktop_environment == 'xfce'

- name: TODO
  block:
    - name: TODO
      ansible.builtin.debug:
        msg: "TODO"
  when: ansible_os_family != 'Archlinux'
