[user]
	name = Sai Man Wong
	email = 7148604+saimanwong@users.noreply.github.com

[includeIf "gitdir:~/github/"]
	path = ~/github/.gitconfig

[includeIf "gitdir:~/gitlab/"]
	path = ~/gitlab/.gitconfig

[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = nvimdiff

[mergetool]
	prompt = false

[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
